DATABASE_URL=postgresql://user:password@public-host:port/database
OPENAI_API_KEY=
OPENAI_API_MODEL=gpt-4.1-mini
OPENAI_API_URL=https://api.openai.com/v1/chat/completions
POSTGRES_USER=tiktrack
POSTGRES_PASSWORD=
POSTGRES_DB=tiktrack
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
JWT_SECRET=
NEXT_PUBLIC_BASE_URL_API=http://localhost:3000
NEXT_PUBLIC_FETCH_INFLUENCERS_MICROSERVICE_URL=http://localhost:8000/api/v1/
NEXT_PUBLIC_SEND_MESSAGE_MICROSERVICE_URL=
SCRAPER_COMMANDS_ENABLED=false
TIKTOK_USERNAME=
TIKTOK_PASSWORD=
